/*csslint order-alphabetical: false, box-model: false, outline-none: false, universal-selector:false, box-sizing:false, ids:false, qualified-headings:false, unique-headings:false, fallback-colors:false, */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

ul {
    margin-left: 1.1em;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
===== Body =====
*/

body {
    text-align: center;
    font-family: Nexa light;
    background-image: url(images/photography_people_beach_wallpaper.jpg);
}

ul {
    list-style: none;
}


/*
===== Header =====
*/

header {
    background-color: white;
    box-shadow: 0 0.2em 0.2em;
    padding: 1em;
}

header img {
    width: 10em;
    display: flex;
}


/*
===== Navigatie =====
*/

nav {
    text-align: center;
    background-color: #ffffff;
}

nav li {
    margin: 0.5em;
    display: inline-flex;
}

nav a {
    font-family: Nexa bold;
    text-align: center;
    color: #00D66C;
    text-decoration: none;
}

nav a:hover {
    color: #322F8F;
}


/*
===== Zoeken op landingspagina =====
*/

.groep {
    display: flex;
    max-width: 80%;
    margin: auto;
    padding: 1em;
}

select {
    margin: auto;
    margin-top: 1em;
    border: 1em;
    display: flex;
    flex-wrap: nowrap;
}

#zoeken {
    background-color: white;
    margin: auto;
    width: 70%;
    border-radius: 1em;
}

#zoeken h2 {
    font-family: Nexa bold;
    color: #00D66C;
    padding: 1em;
}

button {
    background-color: #EE3B6B;
    border-radius: 1em;
    color: white;
    border: none;
}

aside {
    font-family: Nexa bold;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    color: white;
    background-color: #322F8F;
    border-radius: 1em;
    margin-right: 3em;
}

aside p {
    margin: 1em;
    padding: 1em;
}

aside a {
    text-decoration: none;
    color: white;
}

button {
    text-decoration: none;
    margin: 1em;
}

.persoonlijk {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    padding: 2em;
    background-color: white;
}

a {
    text-decoration: none;
}

#links,
#rechts {
    background-color: #F2E4D8;
    width: 50%;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}


/*
===== H2 =====
*/

h2 a {
    font-family: Nexa bold;
    color: #00D66C;
    text-decoration: none;
}

h2 a:hover {
    color: #322F8F;
}


/*
==== Aanmelden ====
*/

form {
    width: 60%;
    background-color: white;
    margin: auto;
    margin-top: 2em;
    border-radius: 1em;
}

form a {
    padding: 0.2em;
    display: flex;
    justify-content: space-around;
}

legend {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: Nexa bold;
    font-size: 2em;
    color: #00D66C;
}


/*
==== Media =====
*/

@media (max-width: 40em) {
    .groep {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 70%;
        margin-bottom: 1em;
        margin-right: 0;
    }
    .persoonlijk {
        flex-direction: column;
        align-items: center;
    }
    #links,
    #rechts {
        width: 60%;
    }
    nav {
        display: inline-block;
        width: 100%;
    }
    header img {
        margin: auto;
    }
    form {
        max-width: 25em;
    }
}

@media (min-width: 41em) {
    nav {
        width: 50%;
        display: inline-block;
        padding: 1em;
        margin-left: 21em;
    }
    header img {
        float: left;
    }
}

@media (min-width: 60em) {
    #zoeken {
        max-width: 20em;
    }
    aside {
        max-width: 20em;
    }
    main {
        width: 70%;
        margin: auto;
    }
    form {
        width: 30em;
    }
    nav {
        width: 25em;
    }
}
