/*csslint order-alphabetical: false, box-model: false, outline-none: false, universal-selector:false, box-sizing:false, ids:false, qualified-headings:false, unique-headings:false, fallback-colors:false, */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

ul {
    margin-left: 1.1em;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
===== Body =====
*/

body {
    transition: all .4s;
    text-align: center;
    font-family: Nexa light;
    background-color: #ABB2B9;
    margin: auto;
    padding: 0;
    background-image: url(../images/strand.jpg)
}

ul {
    list-style: none;
}


/*
===== Header =====
*/

header {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0.1em 1em;
    padding: 1em;
    height: 4em;
}

header img {
    position: absolute;
    margin-top: -1.3em;
    width: 10em;
}


/*
===== Navigatie =====
*/

nav {
    right: 0.5em;
    position: absolute;
}

nav li {
    margin: 0.5em;
    display: inline-block;
}

nav a {
    font-family: Nexa bold;
    text-align: center;
    color: #00D66C;
    text-decoration: none;
}

nav a:hover {
    color: #322F8F;
}

.current {}


/*
===== Zoeken op landingspagina =====
*/

.groep {
    margin: auto;
    padding: 1em;
}

#zoeken {
    background-color: white;
    margin: auto;
    width: 80%;
    border-radius: 1em;
}

#zoeken h2 {
    font-family: Nexa bold;
    color: #00D66C;
    padding: 1em;
}

select {
    margin: auto;
    margin-top: 1em;
    border: 0.4em;
    width: 8em;
    display: flex;
    flex-wrap: nowrap;
}

select:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

select:active {
    border-color: none;
}

select:focus {
    outline: none;
}

aside {
    width: 90%;
    font-family: Nexa bold;
    color: white;
    display: flex;
    background-color: #322F8F;
    border-radius: 1em;
    height: 8em;
}

aside p {
    margin: 1em;
    padding: 1em;
}

aside a {
    padding: 1em;
    display: inline-block;
    text-decoration: underline;
    color: white;
}

aside a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

button {
    text-decoration: none;
    margin: 2em;
    font-size: 1.25em;
    width: 6em;
    background-color: #EE3B6B;
    border-radius: 1em;
    color: white;
    border: none;
}

button:hover {
    color: white;
    background: #00D66C;
    box-shadow: inset 0 1.2em rgba(0, 0, 0, .04), 0 0 5px rgba(0, 0, 0, .5);
}


/*
===== Verder lezen =====
*/

.verderlezen {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.verderlezen a {
    display: flex;
    justify-content: center;
    height: 18em;
    width: 12em;
}

.verderlezen a:link {
    text-decoration: none;
}

#sport {
    background-image: url(../images/sporten.jpg);
    background-size: cover;
}

#reis {
    background-image: url(../images/reizen.png);
    background-size: cover;
}

#amsterdam {
    background-image: url(../images/amsterdam.jpg);
    background-size: cover;
}

#voetbal {
    background-image: url(../images/voetbal.jpg);
    background-size: cover;
}

.verderlezen h2 {
    display: flex;
    justify-content: flex-start;
    font-family: Nexa Bold;
    font-size: 1.2em;
    color: #00D66C;
    padding: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: Nexa bold;
    color: #00D66C;
    background-color: white;
    padding: 1em;
}

#foto {
    background-color: white;
}

.verhaal {
    width: 80%;
    margin: auto;
    background: #F2E4D8;
    padding: 1em;
    padding-bottom: 2em;
}

.verhaal>h1 {
    margin-bottom: 1em;
    border-radius: 0.5em;
}


/*
===== Persoonlijk =====
*/

.persoonlijk {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em;
    background-color: #F2E4D8;
}

.persoonlijk h3 {
    margin: auto;
    color: #00D66C;
}

.persoonlijk a {
    color: #322F8F;
    display: flex;
    width: 10em;
    text-decoration: none;
    margin-left: 1em;
}

.persoonlijk li {
    padding: 0.2em;
}

.persoonlijk ul {
    margin: auto;
}

.persoonlijk li:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s;
}

.persoonlijk h3 {
    padding: 1em;
}

#een,
#twee {
    width: 40%;
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    max-width: 25em;
    font-size: 1.1em
}

#een:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

#twee:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

#een li:hover {
    transition: 1s;
    font-family: Nexa bold;
}

#twee li:hover {
    transition: 1s;
    font-family: Nexa bold;
}


/*
===== H2 =====
*/

h2 a {
    font-family: Nexa bold;
    color: #00D66C;
    text-decoration: none;
}

h2 a:hover {
    color: #322F8F;
}


/*
==== Aanmelden ====
*/

form {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    padding: 1em;
}

label {
    width: 90%;
    padding: 0.5em;
    font-family: Nexa bold;
    margin: auto;
    display: flex;
}

legend {
    padding: 0.3em;
    margin: auto;
    font-family: Nexa bold;
    font-size: 2em;
    color: #00D66C;
}

fieldset {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    border: none;
    transition: all .2s;
    padding: 1em;
}

input {
    padding: .30em;
    font-size: 1em;
    margin: auto;
    width: 90%;
    transition: all .2s;
    font-family: Nexa light;
}

input:focus {
    transform: scale(1.01, 1.01);
    border-color: #00D66C;
    outline: none;
}

#aanmelden {
    font-size: 1.25em;
    flex: 0 0 2em;
    transition: all .2s;
    margin: auto;
}

#aanmelden:hover {
    color: white;
    background: #00D66C;
    box-shadow: inset 0 1.2em rgba(0, 0, 0, .04), 0 0 5px rgba(0, 0, 0, .5);
}

#aanmelden:focus {
    transform: scale(1.1, 1.1);
    box-shadow: inset 2.5em 0 rgba(0, 0, 0, .04), 0 0 5px rgba(0, 0, 0, .5);
    outline: none;
}


/*
=== footer ===
*/

footer {
    background-color: white;
    padding: 1em;
}

footer img {
    width: 10em;
}


/*
==== Media ====
*/

@media (max-width: 40em) {
    .groep {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 20em;
        margin-bottom: 1em;
    }
    #zoeken {
        min-width: 18em;
        max-width: 20em;
    }
    .verderlezen a {
        width: 100vw;
    }
    .persoonlijk {
        flex-direction: column;
        align-items: center;
    }
    #een,
    #twee {
        min-width: 20em;
    }
    nav {
        display: inline-block;
        width: 100%;
        margin: auto;
    }
    header {
        display: inline-block;
        width: 100%
    }
    header img {
        display: none;
    }
    input {
        height: 2.75em;
    }
    form {
        max-width: 25em;
    }
    select {
        height: 2em;
        font-family: Nexa light;
        font-size: 1em;
    }
}

@media (min-width: 40em) {
    form {
        max-width: 30em;
    }
    input {
        height: 2em;
    }
    nav {
        width: 30em;
    }
    .groep {
        width: 80%;
    }
    #zoeken {}
    aside {
        margin-right: 1em;
    }
    select {
        font-size: 1em;
        font-family: Nexa light;
        height: 2em;
    }
    .verderlezen a {
        width: 50vw;
    }
}

@media (max-width: 60em) {
    .groep {
        display: flex;
        margin: auto;
    }
    aside {
        min-width: 12em;
        max-width: 20em;
    }
    #zoeken {
        min-width: 19em;
        max-width: 20em;
        margin: auto;
    }
}

@media (min-width: 60em) {
    #zoeken {
        max-width: 20em;
        font-size: 1.1em;
    }
    aside {
        min-width: 14em;
        max-width: 16em;
        font-size: 1em;
    }
    .groep {
        display: flex;
        width: 70%;
        margin: auto;
    }
    form {
        width: 30em;
    }
    nav {
        width: 25em;
    }
    .verderlezen a {
        width: 33.33vw;
    }
}

@media (min-width: 61em) {
    #zoeken {
        max-width: 20em;
    }
    .groep {
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .persoonlijk {
        width: 100%;
    }
    ..verderlezen a {
        width: 33.33vw;
    }
}

@media (min-width: 70em) {
    .groep {
        max-width: 50em;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5em;
    }
    .verderlezen a {
        width: 25vw;
    }
}
